@using Microsoft.AspNetCore.Identity
@inject SignInManager<Dyt.Data.Entities.Identity.AppUser> SignInManager

<footer class="footer border-top py-2 mt-auto">
    <div class="container d-flex justify-content-between align-items-center">
        <span>&copy; @DateTime.Now.Year - Diyetisyen</span>
    </div>
</footer>
