@model int
@{
    var count = Model;
}
<a asp-area="Admin" asp-controller="Appointments" asp-action="Index" class="notif-bell" title="Randevu Talepleri">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
    <path d="M8 16a2 2 0 0 0 1.985-1.75H6.015A2 2 0 0 0 8 16m.918-14.016A1.5 1.5 0 0 0 5.5 2a.5.5 0 0 0-.5.5v.767c0 .58-.216 1.14-.607 1.563A5.986 5.986 0 0 0 3 8c0 1.098-.5 2.88-1.528 4.22A.5.5 0 0 0 1.845 13h12.31a.5.5 0 0 0 .373-.78C13.5 10.88 13 9.098 13 8a5.986 5.986 0 0 0-1.393-3.17A2.493 2.493 0 0 1 11 3.267V2.5a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 0-1.582-1.516z"/>
  </svg>
  @if (count > 0)
  {
    <span class="notif-badge">@count</span>
  }
</a>
